version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: backend-digital-cockpit-app
    container_name: bdc_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./.docker_vendor:/var/www/html/vendor
      - ./.docker_node:/var/www/html/node_modules
    environment:
      APP_ENV: production
      APP_DEBUG: 'false'
      DB_HOST: 
      DB_PORT: '3306'
      DB_DATABASE: 
      DB_USERNAME: 
      DB_PASSWORD: ''

  web:
    image: nginx:alpine
    container_name: bdc_web
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

volumes:
  .docker_vendor:
  .docker_node:
